body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#itemsContainer {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}

.item input {
  width: 40%;
}

.item button {
  margin-left: 5px;
}
