
.fields-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.field {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white ;
    filter: brightness(30%);
}
.field.active {
        filter: brightness(100%);

}
.container {
  height: 100vh;

}
.field-move-form{
  width: calc( 80% - 40px);
  padding: 20px;
  background-color: white;
flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.battle-prompt-popup {
  width: calc( 80vw - 40px);
  padding: 20px;
  position: fixed;
  left: 10vw;
  bottom: 3vh;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 100;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.5);
}
.battle-prompt-popup.active {
  display: flex;
}
.battle-prompt-popup.enemy {
  transform: rotate(180deg);
  bottom: unset;
  top: 3vh;
}
.battle-prompt-popup > .btns-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.battle-prompt-popup.block-type-move > .btns-cont > .block-btn {
  display: block;
}
.battle-prompt-popup > .btns-cont > .block-btn {
  display: none;
}
#you-popup-msg-cont {
  position: fixed;
  width: 100vw;
  bottom: 40vh;
  display: none;
  justify-content: center;
  align-items: center;
}
#you-popup-msg-cont.active {
  display: flex;
}

#enemy-popup-msg-cont {
  position: fixed;
  width: 100vw;
  bottom: 40vh;
  display: none;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  top: 40vh;
  bottom: unset;
}
#enemy-popup-msg-cont.active {
  display: flex;
}

.enemy-controle-cont {
  height: 47.50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.container > .center {
  background-color: gray;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#new-wave-btn {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
 
}
#new-wave-btn:active {
  background-color: gray;

}
#very-close-btn {
  padding: 4px 17px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  filter: brightness(20%);
}
#very-close-btn.active {
  filter: brightness(100%);
}
#all-adj-data {
  padding: 4px 17px;
  background-color: gold;
  color: white;
  border-radius: 5px;
  border: none;
  filter: brightness(20%);
}
#all-adj-data.active {
  filter: brightness(100%);
}

.show-active-fields-btn {
  padding: 4px 17px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  filter: brightness(50%);
}
.show-active-fields-btn.active {
  filter: brightness(100%);
}

.show-active-fields-btn.active ~ .only-active-fields-wrapper {
  display: flex;
}
.only-active-fields-wrapper {
  display: none;
  position: absolute;
  width: calc(50% - 6vw);
  left: 1vw;
  box-shadow:  0 0 5px 10px rgba(0,0,0,0.5);
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  padding: 3vw;
}


.you-controle-cont {
  height: 47.50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.top-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding: 0 5px;

}
.enemy-controle-cont .top-items-wrapper {
  transform: rotate(180deg);
}
.pokemon-switch-controler {
  width: 70px;
  height: 130px;
  overflow-y: scroll;

  
}
.pokemon-switch-controler.mirror-mode > .pokemon:not(.mirror) {
  display: none;
}

.pokemon-switch-controler > .pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.pokemon-switch-controler > .pokemon > .pokeball-icon {
  border-radius: 100%;
}
.pokemon-switch-controler > .pokemon.active > .pokeball-icon {
  border: 3px solid gold;
}
.pokemon-switch-controler > .pokemon.disabled > .pokeball-icon {
  filter: brightness(30%);

}
.effects-data-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  width: calc(100% - 14px);
  height: 100%;
  gap: 5px;
  padding: 7px;

}

.effects-data-column > .effect {
  padding: 3px 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.attributes-data-row {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  width: calc(100% - 14px);
  padding: 3px 7px;
 
}
.enemy-controle-cont .attributes-data-row {
  transform: rotate(180deg);
}
.primary-data-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  padding: 5px;
}
.primary-data-nav > .left-items-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  gap: 7px;
}
.primary-data-nav > .left-items-wrapper > .left-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-data-nav > .left-items-wrapper > button.left-item{
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
}
.primary-data-nav > .left-items-wrapper > button.mirror-btn{
 filter: brightness(50%);
}
.primary-data-nav > .left-items-wrapper > button.mirror-btn.active{
 filter: brightness(100%);
}
.primary-data-nav .retreat {
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  padding: 3px 6px;
  font-size: 12px;
}
.enemy-controle-cont .primary-data-nav {
  transform: rotate(180deg);
}

.primary-data-nav > .progressbars-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
.primary-data-nav  .progress-bar {
  border: 1px solid black;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
}
.primary-data-nav  .health.progress-bar {
  height: 20px;
}
.primary-data-nav  .armor-hp.progress-bar {
 height: 10px;
}
.primary-data-nav  .progress-bar .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .3s;
}
.primary-data-nav  .health.progress-bar .inner {
  background-color:rgb(255,76,76) ;
}
.primary-data-nav  .armor-hp.progress-bar .inner {
  background-color: royalblue;
}
.primary-data-nav  .progress-bar .health-data {
  color: black;
  font-weight: bold;
  z-index: 1;
}
.primary-data-nav  .armor-hp.progress-bar .health-data {
 font-size: small;
}
.enemy-controle-cont .card-container {
  transform: rotate(180deg);
}

.card-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  width: calc(100% - 20px);
  background-color: #eee;
  overflow-x: scroll;
  
}
.card-container .add-field-move-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  position: relative;
  border: 2px solid black;
  border-style: dashed;
}
.abilities-msg-cont{
  position: fixed;
  left: 10vw;
  bottom: 3vh;
  width: calc( 80vw - 40px);
  padding: 20px;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 100;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.5);
  height: calc(10vh - 40px);
}
#enemy-abilities-msg-cont{
  top: 3vh;
  transform: rotate(180deg);
}
.abilities-msg-cont.active {
  display: flex;
}

.player-settings-form{
  width: calc( 80% - 40px);
  padding: 20px;
  background-color: white;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 100;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.5);
  height: calc(80% - 40px);
  overflow-y: scroll;
}

.player-settings-form .header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-settings-form .header .close-btn{
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
}

.player-settings-form .settings-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.player-settings-form .settings-wrapper .settings{
  width: 100%;
  background-color: #eee;
  padding: 10px;
  
}

.player-settings-form .settings-wrapper .settings:is(.abilities, .items) .wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}
.player-settings-form .settings-wrapper .settings.abilities .wrapper .ability{
  padding: 4px 8px;
  background-color: transparent;
  color: black;
  border-radius: 5px;
}
.player-settings-form .settings-wrapper .settings.abilities .wrapper .ability.active{
  background-color: green;
  color: white;
  border-color: gold;
  font-weight: bold;
}
.player-settings-form .settings-wrapper .settings.items  .wrapper .item{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 5px;
 background-color: white;
 gap: 4px;
 font-weight: bold;
}

.player-settings-form .settings-wrapper .settings.items  .wrapper .item .remove-btn{
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
}
.player-settings-form .settings-wrapper .settings.items  .wrapper .item .remove-btn:active{
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
}

.player-settings-form .settings-wrapper .settings.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  max-height:300px;
  overflow-y:scroll;
}

.player-settings-form .settings-wrapper .settings.stats > .stat{
display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: calc(100% - 4vw);
  font-size: large;
  padding: 1vw 2vw;
  transition: background-color .3s;
}
.player-settings-form .settings-wrapper .settings.stats > .stat > .stat-name:after{
 content: " " attr(data-value);
 font-weight: bold;
   font-size: large;
}

/* player-settings-form .settings-wrapper .settings.stats > .stat:has(.increase-btn:active) {
    background-color: #9cff91;
}
.player-settings-form .settings-wrapper .settings.stats > .stat:has(.decrease-btn:active) {
    background-color: #ff9999;

} */
/* shadow clone controller */
.shadow-clone-scene-controller{
  width: 90vw;
  height: 50vh;
  left: 5vw;
  top: 25%;
  z-index: 1000;
  position: fixed;
  display: none;
    background-color: white;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 10px rgba(0,0,0,0.5);
}
.shadow-clone-scene-controller.active{
  display: flex;
}

.shadow-clone-scene-controller.enemy{
  transform: rotate(180deg);
}
.shadow-clone-scene-controller > .header{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.shadow-clone-scene-controller.active > .header{
    display: flex;

}
.shadow-clone-scene-controller > .header > .close-btn{
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
}
.shadow-clone-scene-controller > .header > .close-btn:active{
  background-color: gray;
}

.shadow-clone-scene-controller:not(.auto) > .header > .close-btn{
  display: none;
}
.shadow-clone-scene-controller .shadow-clone-scene-list{
  width: 90%;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;  
}
.shadow-clone-scene-controller.active .shadow-clone-scene-list{
  display: flex;
}
.shadow-clone-scene-controller .shadow-clone-scene-list .shadow-clone-scene{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-size: large;
}

.shadow-clone-scene-controller .shadow-clone-scene-list .shadow-clone-scene .clone-move-name::before{
  content: attr(data-clone-index) ".";
  margin-right: 4px;
  font-weight: bold;
  color: black;
}

.shadow-clone-scene-controller .shadow-clone-scene-list .shadow-clone-scene .clone-move-name::after{
  content: " ";
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: grey;
}


.shadow-clone-scene-controller:not(.auto) .shadow-clone-scene-list .shadow-clone-scene.dodged .clone-move-name::after{
  background-color: green;
}

/*  for auto */
.shadow-clone-scene-controller.auto .shadow-clone-scene-list .shadow-clone-scene .target-move-name::before{
  content: " ";
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: grey;
}

.shadow-clone-scene-controller.auto .shadow-clone-scene-list .shadow-clone-scene .target-move-name.dodged::before{
  background-color: green;
}

.shadow-clone-scene-controller.auto .shadow-clone-scene-list .shadow-clone-scene .clone-move-name.dodged::after{
  background-color: green;
}