     .fields-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.field {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    filter: brightness(30%);
}
.field.active {
        filter: brightness(100%);

}
.charecter-choose-form{
    margin: 10px 0;

}
.charecter-choose-form > .charecters-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    overflow-x: scroll;
    gap: 10px;
    margin: 0 auto;
    
}