/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
:root {
    --normal-type-color: #A8A77A;
    --fire-type-color: #F08030;
    --water-type-color: #6390F0;
    --electric-type-color: #F7D02C;
    --grass-type-color: #7AC74C;
    --ice-type-color: #96D9D6;
    --fighting-type-color: #C22E28;
    --poison-type-color: #A33EA1;
    --ground-type-color: #E2BF65;
    --flying-type-color: #A98FF3;
    --psychic-type-color: #F95587;
    --bug-type-color: #A6B91A;
    --rock-type-color: #B6A136;
    --ghost-type-color: #735797;
    --dragon-type-color: #6F35FC;
    --dark-type-color: #705746;
    --steel-type-color: #B7B7CE;
    --fairy-type-color: #D685AD;
}
.scroller {
    width: 100vw;
    overflow-x: scroll;
}
.vertical.scroller {
    height: 30%;
    overflow-y: scroll;
    overflow-x:hidden ;
}
.blur-bg{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
     position: fixed;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    
}