:root {
  --Normal-type-color: #9FA19F;
  --Fire-type-color: #E62829;
  --Water-type-color: #2980EF;
  --Electric-type-color: #FAC000;
  --Grass-type-color: #3FA129;
  --Ice-type-color: #3CCDF2;
  --Fighting-type-color: #FF8002;
  --Poison-type-color: #9141CB;
  --Ground-type-color: #925221;
  --Flying-type-color: #81B9F0;
  --Psychic-type-color: #EF4179;
  --Bug-type-color: #91A11A;
  --Rock-type-color: #AFA981;
  --Ghost-type-color: #704170;
  --Dragon-type-color: #5060E0;
  --Dark-type-color: #634E4F;
  --Steel-type-color: #60A1B7;
  --Fairy-type-color: #EE6FEE;
  --Stellar-type-color: #40B5A5;
  --Unknown-type-color: #68A090;
}

.fields-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.field {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    filter: brightness(30%);
}
.field.active {
        filter: brightness(100%);

}
.pokemon-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.duplicate-enemy-btn {
  background-color: green;
  color: white;
  font-weight: bold;
}
.remove-enemy-btn {
  background-color: darkred;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}
.move-section {
  margin-top: 10px;
}

.move-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.move-item input {
  margin-right: 5px;
}

.move-item button {
  padding: 2px 5px;
}
