
.fields-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.field {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    filter: brightness(30%);
}
.field.active {
        filter: brightness(100%);

}
.pokemon-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.duplicate-enemy-btn {
  background-color: green;
  color: white;
  font-weight: bold;
}
.remove-enemy-btn {
  background-color: darkred;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}
.move-section {
  margin-top: 10px;
}

.move-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.move-item input {
  margin-right: 5px;
}

.move-item button {
  padding: 2px 5px;
}
