.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.fight-btn {
  width: 30px;
  height: 30px;
}
.fight-btn > img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}
.stats-header {
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

}
.stats-header > .health-progress-bar {
  border: 1px solid black;
  width: 160px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats-header > .health-progress-bar .inner {
  width: 100%;
  height: 100%;
  background-color: limegreen;
  position: absolute;
  left: 0;
  top: 0;
  transition: width .3s;
}
.stats-header > .health-progress-bar .health-data {
  color: black;
  font-weight: bold;
  z-index: 1;
}
.stats-header > .pokemon-cp {
  font-weight: bold;
  color: orangered;
  font-size: large;
}
.stats-header-secondary {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.pokemon-cp::after {
  content: attr(data-value);

}
/* Stats Section */
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.stats > .stats-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: calc(45% - 30px);


}
.stat {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.stat:is(.ability,.nature) {
  background-color: inherit;
  padding-left: 14px;
  padding-right: 14px;
  width: max-content;
  font-size: .8rem;
}

.stat::after {
  content: attr(data-value);
}

.stat::before {
  content: '+' attr(data-token-used);
  position: absolute;
  right: 1px;
  color: gold;
  font-weight: bold;
  display: none;

}
.stat[data-token-used]::before {
  display: block;
}
.stat:active {
  background-color: gray;
}
.level {
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* Moves Section */
.moves-header {
  margin: 20px 0;
  text-align: center;

}

.moves-header h2 {
  background: #ff0000;
  color: white;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}
#add-move-btn {
  position: relative;
  margin: 10px 35px;

}
#moves-container {
  padding: 0 10px;
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

}

.card {
  width: 300px;
  height: 150px;
}
.card:not(.disabled):active {
  filter: brightness(100%);

}
.card-body > .primary {
  font-size: 17px;
}
.single-card-wrapper > .info-btn {
  font-size: 15px;
}
.card-body > .secondary {
  font-size: 14px;
}
.single-card-wrapper > .info-wrapper > .bottom-btns-cont {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 8px;
  width: 100%;
  margin-top: 10px;
}
.single-card-wrapper > .info-wrapper > .bottom-btns-cont > .forget-btn {
  background-color: darkred;
  color: white;
}
.single-card-wrapper .card.selected ~ .info-wrapper > .bottom-btns-cont > .select-btn {
  display: none;
}
.single-card-wrapper .card:not(.selected) ~ .info-wrapper > .bottom-btns-cont > .unselect-btn {
  display: none;
}

.move-choose-interface {
  width: calc(90% - 80px);
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.move-choose-interface > .toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
