.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.back-btn,
.image-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}
.stats-header{
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  
}
.stats-header > .health-progress-bar {
    border: 1px solid black;
    width: 160px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.stats-header > .health-progress-bar .inner {
    width: 100%;
    height: 100%;
    background-color: limegreen;
    position: absolute;
    left: 0;
    top: 0;
    transition: width .3s;
}
.stats-header > .health-progress-bar .health-data {
    color: black;
    font-weight: bold;
    z-index: 1;
}
.stats-header > .pokemon-cp {
  font-weight: bold;
  color: orangered;
  font-size: large;
}
.pokemon-cp::after {
  content: attr(data-value);

}
/* Stats Section */
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}
.stats > .stats-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}
.stat {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: white;
    border-radius: 4px;
    width: 8rem;
}
.stat::after{
  content: attr(data-value);
}
.stat:active {
 background-color: gray;
}
.level {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* Moves Section */
.moves-header {
    margin: 20px 0;
    text-align: center;

}

.moves-header h2 {
    background: #ff0000;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}
#add-move-btn{
    position: relative;
  margin: 10px 35px;
  
}
#moves-container{
  padding: 0 10px;
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}
.move {
    width: 280px;
    background: white;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.move.selected {
  border: 2px solid gold;
}
.move-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 8px 8px 0 0;
}

.move-icons {
    display: flex;
    gap: 5px;
}

.move .move-body{
 padding: 3px 8px;
   max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.move .move-body > *{
  margin: 0;
}
.move .move-body .btn-cont{
  display: flex;
justify-content: center;
align-items: center;
gap: 4px;
  
}
.move .move-body button{
  padding: 3px 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  align-self: center;
}
.move .move-body button.forget-move{
  background-color: darkred;

}
.move:not(.selected) .move-body button.unselect-move{
 display: none;
}
.move.selected .move-body button.select-move{
 display: none;
}

.move-choose-interface{
  background-color: white;
  width: 80%;
  height: 60%;
}
.move-choose-interface > .toolbar{
 display: flex;
 flex-wrap: wrap;
 gap: 2px;
}